@page
@model EHR.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<form method="post">
    <div class="form-group">
        <label>Username / National ID</label>
        <input asp-for="UsernameOrId" class="form-control" placeholder="Enter your Username or National ID" />
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Enter new password" />
    </div>

    <div class="form-group">
        <label>Confirm New Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm new password" />
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
            <p class="text-success">@Model.Message</p>
    }
</form>